@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Space Mono", monospace;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: hsl(185, 41%, 84%);
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.tittle {
    font-size: 18.5pt;
    letter-spacing: 11.5px;
    font-weight: bold;
    color: hsl(183, 100%, 15%);
    position: absolute;
    top: 120px;
}

.main-card {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 960px;
    padding: 31px;
    border-radius: 25px;
    margin-top: 100px;
}

.left-side {
    height: 100%;
    width: 50%;
    margin-right: 35px;
}

.left-side-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
}

.left-side-card > .bill-amount {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.dollar-icon {
    position: absolute;
    top: 49px;
    left: 16px;
}

.bill-amount > label {
    margin-bottom: 8px;
    color: hsl(186, 14%, 43%);
}

.tip-percentage {
    display: flex;
    flex-direction: column;
}

.tip-percentage > p {
    font-size: 12.4pt;
    color: hsl(186, 14%, 43%);
}

.tip-percentage-button {
    padding: 8px 4px;
    border-radius: 5px;
    width: 31%;
    font-size: 19pt;
    border: none;
    background-color: hsl(183, 100%, 15%);
    color: hsl(0, 0%, 100%);
    margin-top: 16px;
}

.tip-percentage-button:hover {
    cursor: pointer;
    background-color: hsla(172, 67%, 80%, 0.8);
    color: hsl(183, 100%, 15%);
}

.tip-percentage-button.selected {
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}

.custom-percentage-button {
    padding: 8px 4px;
    border-radius: 5px;
    width: 31%;
    font-size: 19pt;
    border: none;
    background-color: hsl(183, 100%, 15%);
    color: hsl(0, 0%, 100%);
    background-color: hsl(189, 41%, 97%);
    outline-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    text-align: end;
    margin-top: 16px;
}

.custom-percentage-button::placeholder {
    color: hsl(186, 14%, 43%);
    text-align: center;
}

.tip-opts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.people {
    display: flex;
    flex-direction: column;
    position: relative;
}

.person-icon {
    position: absolute;
    top: 49px;
    left: 16px;
}

.people > label {
    margin-bottom: 8px;
    color: hsl(186, 14%, 43%);
}

.bill-input,
.people-input {
    color: hsl(183, 100%, 15%);
    border-color: hsl(189, 41%, 97%);
    border-style: solid;
    border-radius: 6px;
    outline-color: hsl(172, 67%, 45%);
    background-color: hsl(189, 41%, 97%);
    padding: 4px 15px;
    text-align: end;
    font-size: 20pt;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.bill-input::placeholder,
.people-input::placeholder {
    text-align: end;
    font-size: 20pt;
    color: hsla(183, 14%, 66%, 0.85);
}

/* ERROR */
.bill-error-message {
    visibility: hidden;
    position: absolute;
    right: 0px;
    top: 2px;
    color: rgba(255, 0, 0, 0.65);
}

.people-error-message {
    visibility: hidden;
    position: absolute;
    right: 0px;
    top: 2px;
    color: rgba(255, 0, 0, 0.65);
}

.bill-input.error {
    border-color: rgba(255, 0, 0, 0.65);
    border-radius: 6px;
}

.people-input.error {
    border-color: rgba(255, 0, 0, 0.65);
    border-radius: 6px;
}

/* RIGHT-SIDE */
.right-side {
    width: 50%;
}

.right-side-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: hsl(183, 100%, 15%);
    width: 100%;
    padding: 40px;
    height: 410px;
    border-radius: 15px;
}

.tip-amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.total-amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tip-value,
.total-value {
    color: hsl(172, 67%, 45%);
    font-size: 35pt;
}

.amount-text,
.total-text {
    color: hsl(0, 0%, 100%);
}

.amount-text > a,
.total-text > a {
    color: hsl(184, 14%, 56%);
    font-size: 10pt;
}

.reset-button {
    outline: none;
    border: none;
    background-color: hsl(172, 67%, 45%);
    padding: 10px;
    font-size: 14pt;
    color: hsl(183, 100%, 15%);
    border-radius: 6px;
}

.reset-button:hover {
    cursor: pointer;
    background-color: hsla(172, 67%, 80%, 0.8);
}

.reset-button.unable {
    cursor: default;
    background-color: hsl(183, 75%, 25%);
    color: hsla(183, 100%, 15%, 0.45);
}

/* LAPTOP */
@media (max-width: 970px) {
    .tittle {
        font-size: 17pt;
        letter-spacing: 10px;
    }

    .main-card {
        background-color: hsl(0, 0%, 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 720px;
        padding: 26px;
        border-radius: 25px;
    }

    .left-side-card {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 6px;
    }

    .tip-percentage-button {
        padding: 8px 4px;
        border-radius: 5px;
        width: 31%;
        font-size: 14pt;
        border: none;
        background-color: hsl(183, 100%, 15%);
        color: hsl(0, 0%, 100%);
    }

    .tip-percentage > p {
        margin-bottom: 12px;
        color: hsl(186, 14%, 43%);
    }

    .custom-percentage-button {
        font-size: 14pt;
    }

    /* RIGHT-SIDE */
    .right-side-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: hsl(183, 100%, 15%);
        width: 100%;
        padding: 30px;
        height: 340px;
        border-radius: 15px;
    }

    .tip-value,
    .total-value {
        color: hsl(172, 67%, 45%);
        font-size: 29pt;
    }

    .reset-button {
        outline: none;
        border: none;
        background-color: hsl(172, 67%, 45%);
        padding: 10px;
        font-size: 12pt;
        color: hsl(183, 100%, 15%);
        border-radius: 6px;
    }
}

/* MOBILE */
@media (max-width: 416px) {
    .container {
        height: 940px;
        display: flex;
        align-items: center;
        justify-content: end;
        flex-direction: column;
    }

    .tittle {
        font-size: 17pt;
        letter-spacing: 11.5px;
        font-weight: bold;
        color: hsl(183, 100%, 15%);
        top: 38px;
    }

    .main-card {
        background-color: hsl(0, 0%, 100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 105vh;
        padding: 28px;
        margin-top: 100px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .left-side {
        height: 100%;
        width: 100%;
        margin-right: 0px;
        margin-bottom: 25px;
    }

    .left-side-card {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 25px;
        height: 100%;
        padding: 8px;
    }

    .tip-percentage-button {
        padding: 7px 3px;
        border-radius: 5px;
        width: 47%;
        font-size: 17.5pt;
        border: none;
        background-color: hsl(183, 100%, 15%);
        color: hsl(0, 0%, 100%);
        margin-top: 16px;
    }

    .custom-percentage-button {
        padding: 7px 3px;
        border-radius: 5px;
        width: 47%;
        font-size: 17.5pt;
        border: none;
        background-color: hsl(183, 100%, 15%);
        color: hsl(0, 0%, 100%);
        background-color: hsl(189, 41%, 97%);
        color: hsl(183, 100%, 15%);
        text-align: end;
        margin-top: 16px;
    }

    .people > input,
    .bill-amount > input {
        color: hsl(183, 100%, 15%);
        border-color: hsl(189, 41%, 97%);
        border-style: solid;
        border-radius: 6px;
        outline-color: hsl(172, 67%, 45%);
        background-color: hsl(189, 41%, 97%);
        padding: 5px 15px;
        text-align: end;
        font-size: 18pt;
    }

    .people > label {
        font-size: 13pt;
    }

    .tip-percentage > p {
        margin-bottom: 0;
    }

    /* DOWNSIDE-SIDE */
    .right-side {
        width: 100%;
    }

    .right-side-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: hsl(183, 100%, 15%);
        width: 100%;
        padding: 27px;
        height: 260px;
        border-radius: 15px;
    }

    .tip-amount {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .total-amount {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .reset-button {
        outline: none;
        border: none;
        background-color: hsl(172, 67%, 45%);
        padding: 11px;
        font-size: 15pt;
        color: hsl(183, 100%, 15%);
        border-radius: 6px;
    }
}
